body {
  margin: 0;
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #606072;
  font-family: "JetBrains Mono";
}

.content {
  text-align: center;
  display: grid;
  justify-items: center;
  align-content: space-between;
  background-color: rgb(136, 226, 196);
  width: 700px;
  height: 450px;
  margin: auto;
  padding: 2rem;
  border-radius: 3rem;
  box-shadow: 0 0 7px 3px #33333c;
}

.joke{
  height: 300px;
  width: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 1rem;
}

button {
  font-family: "JetBrains Mono";
    cursor: pointer;
  --b: 3px;
  --s: 0.45em;
  --color: #373b44;

  padding: calc(0.5em + var(--s)) calc(0.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background: conic-gradient(
      from 90deg at var(--b) var(--b),
      #0000 90deg,
      var(--color) 0
    )
    var(--_p) var(--_p) / calc(100% - var(--b) - 2 * var(--_p))
    calc(100% - var(--b) - 2 * var(--_p));
  transition: 0.3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: 0.6em;
  font-size: 16px;
  border: 0;
}

button:hover,
button:focus-visible {
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: 0.05em;
}

button:active {
  background: var(--color);
  color: #fff;
}
